<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header col-xs-12">
      <a href="#" class="navbar-brand">My Recipes Book</a>
      <div class="navbar-collapse collapse navbar-right">
        <ul class="nav navbar-nav">
          <li><a href="#">Recipes</a></li>
          <li><a href="#">Shopping list</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" role="button">Menage <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Save data</a></li>
              <li><a href="#">Fetch data</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
