<app-nav></app-nav>
<div class="container">
  <div class="row">
    <div class="col">
      <app-recipes></app-recipes>
      <hr>
      <app-shopping-list></app-shopping-list>
    </div>
  </div>
</div>
