<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">Add new recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <a *ngFor="let recipe of recipes" href="#" class="list-group-item clearfix">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{recipe.name}}</h4>
        <p class="list-group-item-text">{{recipe.description}}</p>
      </div>
      <span class="pull-right">
        <img
          style="max-height: 50px"
          [src]="recipe.imagePath" alt="" class="img-responsice">
      </span>
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
