<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-4">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control"/>
        </div>
        <div class="col-sm-2">
          <label for="amount">Amount</label>
          <input type="number" id="amount" class="form-control"/>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit">Add</button>
          <button class="btn btn-danger" type="button">Delete</button>
          <button class="btn btn-warning" type="reset">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
